<div *ngFor="let person of Persons">
    <p>{{person.id}}</p>
    <p>{{person.name}}</p>
    <p>{{person.email}}</p>
    <p>{{person.address.street}}</p>
    <p>{{person.address.suite}}</p>
    <p>{{person.address.city}}</p>
    <p>{{person.address.zipcode}}</p>
    <p>{{person.address.geo.lat}}</p>
    <p>{{person.address.geo.lng}}</p>
    <p>{{person.phone}}</p>
    <p>{{person.website}}</p>
    <p>{{person.company.name}}</p>
    <p>{{person.company.catchphrase}}</p>
    <p>{{person.company.bs}}</p>


</div>
