<div class="parent">
    <div class="child1">
        <h3 routerLink="home" >home</h3>
        <h3 routerLink="databinding">data binding</h3>
        <h3 routerLink="eventbinding">event binding</h3>
        <h3 routerLink="twowaybinding"> two way binding</h3>
        <h3 routerLink="rectangular">rectangular</h3>
        <h3 routerLink="calculator">calculator</h3>
        <h3 routerLink="square" >squre</h3>
        <h3 routerLink="event-registation">event-registation</h3>
        <h3 routerLink="student-registation">student-registation</h3>
        <h3 routerLink="cart">cart</h3>
        <h3 routerLink="employee">employee</h3>
        <h3 routerLink="pipes">pipes</h3>
        <h3 routerLink="cars">cars</h3>
        <h3 routerLink="gpay" >gpay</h3>
        <h3 routerLink="vehicle">vehicle</h3>
        <h3 routerLink="account">account</h3>
        <h3 routerLink="item">item</h3>
        <h3 routerLink="post">Post</h3>
        <h3 routerLink="mail">Mail</h3>
        <h3 routerLink="person">Person</h3>
        <h3 routerLink="create-vehicle">create vehicle form</h3>
        <h3 routerLink="create-user">create user</h3>
        <h3 routerLink="parent">parent</h3>
        <h3 routerLink="product">product</h3>
        <h3 routerLink="nav">nav</h3>
        <h3 routerLink="cartlist">cartlist</h3>
   
        <button (click)="logout()" class="logout">logout</button>

    </div>
    <div class="child2">
        <router-outlet></router-outlet>

    </div>
    
</div>

